.leftNavigationListAndContent {
  display: inline;
}

.leftNavigationList {
  width: 15%;
  height: 100%;
  display: inline-block;
  overflow-y: hidden;
  vertical-align: top;
  border: 1px solid #00bcd4;
}

.content {
  display: inline-block;
  width: 85%;
}

.logOutButtonWrapper {
  margin: auto;
}

.userInfo {
  color: white;
  margin: auto 10px;
}
